absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
anyio
attrs
certifi
charset-normalizer
datasets
dill
filelock
frozenlist
fsspec
grpcio
h11
hf-xet
httpcore
httpx
huggingface-hub
idna
Jinja2
Markdown
MarkupSafe
mpmath
multidict
multiprocess
networkx
numpy
packaging
pandas
peft
pillow
propcache
protobuf
psutil
pyarrow
python-dateutil
pytz
PyYAML
regex
requests
safetensors
setuptools
six
sniffio
sympy
tensorboard
tensorboard-data-server
tokenizers
torch
tqdm
transformers
typing_extensions
tzdata
urllib3
Werkzeug
xxhash
yarl
